<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "someService" class="cn.bigbaic.service.impl.SomeServiceImpl" />
    <bean id = "someService1" class="cn.bigbaic.service.impl.SomeServiceImpl" />
    <bean id = "mydate" class = "java.util.Date" />

    <!--告诉spring创建对象
        声明bean，就是告诉spring要创建某个类的对象
        id: 对象的自定义名称，唯一值，spring通过这个名称找到对象
        class : 类的全限定名称（不能是接口，因为spring是反射机制 必须使用类）
        spring就完成SomeService someService = new SomeServiceImpl();
        spring是把创建好的对象放到map中，spring框架中有一个map存放对象
            sprinMap.put(id的值,对象);
            例如springMap.put("someService",new SomeServiceImpl())

    -->



</beans>


<!--
    spring的配置文件
    1、beans： 是根标签，spring把java对象称为bean
    2、spring-beans.xsd 是约束文件，和mybatis指定，dtd是一样的
-->